PORT="8888"

DATABASE_URL="postgresql://postgres:7777@localhost:5432/ischool-backend"

SALT_ROUNDS="12"

JWT_SECRET="d42enY89t+KhRz+EnwToXNUmA/pYL03LjNWKl2e62Js="
JWT_EXPIRES_IN="10800"



CLOUDINARY_CLOUD_NAME="dboof56wt"
CLOUDINARY_API_KEY="528888314783754"
CLOUDINARY_API_SECRET="5fSjSBtQg_KR8RMZ8ecSo6Bqx5A"